---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Projects from '../components/Projects.astro';
import Benefits from '../components/Benefits.astro';
import About from '../components/About.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<HowItWorks />
		<Projects />
		<Benefits />
		<About />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
